{%- liquid
  assign free_shipping_threshold = settings.free_shipping_threshold | times: 100
  assign cart_total = cart.total_price
  assign remaining = free_shipping_threshold | minus: cart_total
-%}

{%- if free_shipping_threshold > 0 -%}
  <div class="cart-free-shipping">
    {%- if remaining > 0 -%}
      <p class="cart-free-shipping__text">
        Only <strong>{{ remaining | money_without_trailing_zeros }}</strong> more for free shipping
      </p>
    {%- else -%}
      <p class="cart-free-shipping__text cart-free-shipping__text--achieved">
        You've unlocked <strong>free shipping!</strong>
      </p>
    {%- endif -%}
  </div>
{%- endif -%}
